<div class="home">
  <!-- <img src="https://i.imgur.com/dxCqOoa.png" alt="Care Home Logo"><br> -->
   <div class="astext">
     <span class="border">
       WELCOME
     </span>
     <p> Please <%= link_to "log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %></p>
   </div>
 </div>
