<h1>Care Home</h1>

<h2>RESIDENTS</h2>
<p><a href="/residents">All Residents</a></p>
<p><a href="/residents/new">Add New Resident</a></p>

<h2>ROOMS</h2>
<p><a href="/rooms">All Rooms</a></p>
<p><a href="/rooms/new">Add New Room</a></p>
